# Your Slack Web API key.  Get it here: https://api.slack.com/web
api_key: xoxp-9999999999-9999999999-9999999999-999999

# Paths to sound files.  I like the ones from libpurple (pidgin).
sounds:
    ping: /usr/share/sounds/purple/receive.wav
    pm: /usr/share/sounds/purple/alert.wav

# How to handle notifications.  The main notification words list will
# be taken from the highlight words you set in Slack preferences.
notify:
    # Never notify if a message contains these words
    blacklist_words:
        - word1
        - word2

    # Never notify if a message is sent on these channels.  Note that
    # private channels don't use a #.  Don't forget to use quotes if
    # you specify a channel with a #, because a # starts a yaml comment.
    blacklist_channels:
        - privategroup1
        - '#publichannel2'

# Always mark messages in these channels read immediately.
mark_read_channels:
    - privategroup1
    - '#publichannel2'
